
<div class="container" id="sub">
    <div class="row col-md-6 col-md-offset-2 custyle">
        <label for="Category">Category :   </label> 
        <form [formGroup]="form">
           
        <div class="form-group">
            <select (change)="Get()" formControlName="cid" name="category" class="form-control">
                <option *ngFor="let item of clist" value={{item.cid}}>{{item.cname}}</option>
            </select> 
       </div>   
    </form>
    <table class="table table-striped custab">
      
    <thead>
    <!-- <a href="#" class="btn btn-primary"><b>+</b> Add new categories</a> -->
        <tr>
            <th>SubCategory Name</th>
            <th>Description</th>
          
            
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tr *ngFor="let item of list">
        <td>{{item.sname}}</td>
        <td>{{item.briefdetails}}</td>
        
         <td class="text-center"> <button  type="button"  class="btn btn-danger" (click)="Delete(item.sid)">Del</button></td>
    </tr>
           
    </table>

    
    </div>
</div> 

