<div style="background-color:white">
    <!-- <div style="background-image: url(/assets/images/cap2.PNG);background-size:100% 100%;height:875px;background-repeat: no-repeat;"> -->
    <nav class="navbar navbar-expand-lg navbar-dark" id="navid">
     
        <a class="navbar-brand" href="#"><i class="fa fa-home" style="font-size:30px;color:white">Emart</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="navbar-brand" [routerLink]="'/Home'"  routerLinkActive="router-link-active">Home</a>
            </li>
            <li class="nav-item">
              <a class="navbar-brand" [routerLink]="['/Home/Login']">Login</a>
            </li>
             
          </ul>
        
        </div>
      </nav>
      <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/images/go3.jpeg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/cap4.PNG" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/go7.jpeg" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
    <div class="container-fluid" id="pic">    
     
      <div class="row">
        <div class="col-sm-3">
          <img src="../assets/images/for4.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
          <p style="color: white;">hhddhkj</p>
        </div>
        <div class="col-sm-3"> 
          <img src="../assets/images/too.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
          <p style="color: white;">hhddhkj</p>
            
        </div>
        <div class="col-sm-3">
          <img src="../assets/images/lap6.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
          <p style="color: white;">hhddhkj</p>
          </div>
          <div class="col-sm-3"> 
          <img src="../assets/images/watch.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
          <p style="color: white;">hhddhkj</p>
          </div>
          <!-- <div class="col-sm-3"> 
            <img src="../assets/images/watch.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
            <p style="color: white;">hhddhkj</p>
            </div>
            <div class="col-sm-3"> 
              <img src="../assets/images/phone2.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
              <p style="color: white;">hhddhkj</p>
              </div> -->
        </div>
     
    </div><br>
    
    <!-- <footer class="container-fluid text-center">
      <p>Footer Text</p>
    </footer> -->
    
      

   
    </div>
    
    
     
