/* You can add global styles to this file, and also import other style files */
@import "D:/FINAL-PROJECT-KALYANI-845164/Emart-UI/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "D:/FINAL-PROJECT-KALYANI-845164/Emart-UI/node_modules/bootstrap/dist/css/bootstrap.css";
/* body{
    background-image: url(~assets/images/cart4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
} */
