


    <div class="container login-container">
        <div class="col-md-6 login-form-2">
            <h3>AddSubCategories</h3>
            
                <form [formGroup]="adminform"  >
                  
                    <div class="form-group">
                        
                        <input type="text" formControlName="sname" placeholder="SubCategoryName *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sname.errors }" />
                        <div *ngIf="submitted && f.sname.errors" class="invalid-feedback">
                            <div *ngIf="f.sname.errors.required"> Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select formControlName="cid" class="form-control">
                            <option *ngFor="let item of list" value={{item.cid}}>{{item.cname}}</option>
                        </select> 
                   </div>
                   <div class="form-group">
                              
                    <input type="text" formControlName="GST" class="form-control" placeholder="GST *" [ngClass]="{ 'is-invalid': submitted && f.GST.errors }" />
                   <div *ngIf="submitted && f.GST.errors" class="invalid-feedback">
                       <div *ngIf="f.GST.errors.required">id is required</div>
                       
                   </div>
               </div>
                    <div class="form-group">
                        
                        <input type="text" formControlName="briefdetails" placeholder="Briefdetails*" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.briefdetails.errors }" />
                        <div *ngIf="submitted && f.briefdetails.errors" class="invalid-feedback">
                            <div *ngIf="f.briefdetails.errors.required">Password is required</div>
                        </div>
                    </div>
                <div class="form-group">
                    <button class="btn btn-primary mr-1" class="btnRegister" (click)="Onsubmit()" >Add</button>
                </div>
               
                 
            </form>
        </div>
    </div>
    
